---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ishaansingal/spree-adyen/commits?author=ishaansingal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9048107b47ff2be264ead8a0328b32415e784813
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1426760739'
      Last-Modified:
      - Mon, 16 Mar 2015 06:11:44 GMT
      Etag:
      - W/"13440bdce3596210079ad852575205c2"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"d67efd8d6397727848abe68a807f636efd81b431","commit":{"author":{"name":"ishaansingal","email":"ishaansingal@gmail.com","date":"2015-03-16T06:11:44Z"},"committer":{"name":"ishaansingal","email":"ishaansingal@gmail.com","date":"2015-03-16T06:11:44Z"},"message":"Update
        spree-adyen.gemspec","tree":{"sha":"3bd51e88a8255c749a5c09bfc691aea8bc96b534","url":"https://api.github.com/repos/ishaansingal/spree-adyen/git/trees/3bd51e88a8255c749a5c09bfc691aea8bc96b534"},"url":"https://api.github.com/repos/ishaansingal/spree-adyen/git/commits/d67efd8d6397727848abe68a807f636efd81b431","comment_count":0},"url":"https://api.github.com/repos/ishaansingal/spree-adyen/commits/d67efd8d6397727848abe68a807f636efd81b431","html_url":"https://github.com/ishaansingal/spree-adyen/commit/d67efd8d6397727848abe68a807f636efd81b431","comments_url":"https://api.github.com/repos/ishaansingal/spree-adyen/commits/d67efd8d6397727848abe68a807f636efd81b431/comments","author":{"login":"ishaansingal","id":3284125,"avatar_url":"https://avatars.githubusercontent.com/u/3284125?v=3","gravatar_id":"","url":"https://api.github.com/users/ishaansingal","html_url":"https://github.com/ishaansingal","followers_url":"https://api.github.com/users/ishaansingal/followers","following_url":"https://api.github.com/users/ishaansingal/following{/other_user}","gists_url":"https://api.github.com/users/ishaansingal/gists{/gist_id}","starred_url":"https://api.github.com/users/ishaansingal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ishaansingal/subscriptions","organizations_url":"https://api.github.com/users/ishaansingal/orgs","repos_url":"https://api.github.com/users/ishaansingal/repos","events_url":"https://api.github.com/users/ishaansingal/events{/privacy}","received_events_url":"https://api.github.com/users/ishaansingal/received_events","type":"User","site_admin":false},"committer":{"login":"ishaansingal","id":3284125,"avatar_url":"https://avatars.githubusercontent.com/u/3284125?v=3","gravatar_id":"","url":"https://api.github.com/users/ishaansingal","html_url":"https://github.com/ishaansingal","followers_url":"https://api.github.com/users/ishaansingal/followers","following_url":"https://api.github.com/users/ishaansingal/following{/other_user}","gists_url":"https://api.github.com/users/ishaansingal/gists{/gist_id}","starred_url":"https://api.github.com/users/ishaansingal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ishaansingal/subscriptions","organizations_url":"https://api.github.com/users/ishaansingal/orgs","repos_url":"https://api.github.com/users/ishaansingal/repos","events_url":"https://api.github.com/users/ishaansingal/events{/privacy}","received_events_url":"https://api.github.com/users/ishaansingal/received_events","type":"User","site_admin":false},"parents":[{"sha":"b9d4c448457abe143dd5a435506c9a63a0d01862","url":"https://api.github.com/repos/ishaansingal/spree-adyen/commits/b9d4c448457abe143dd5a435506c9a63a0d01862","html_url":"https://github.com/ishaansingal/spree-adyen/commit/b9d4c448457abe143dd5a435506c9a63a0d01862"}]}]'
  recorded_at: Thu, 19 Mar 2015 09:27:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ishaansingal/spree-adyen/commits/d67efd8d6397727848abe68a807f636efd81b431
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9048107b47ff2be264ead8a0328b32415e784813
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelim[...]
- request:
    method: get
    uri: https://api.github.com/repos/ishaansingal/adyen/commits?author=ishaansingal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9048107b47ff2be264ead8a0328b32415e784813
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/ishaansingal/adyen/commits/3151a799919a1b289595675c79f43215c5bf064e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9048107b47ff2be264ead8a0328b32415e784813
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Lim[...]
