---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/ishaansingal/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9048107b47ff2be264ead8a0328b32415e784813
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1426746783'
      Etag:
      - W/"db56670a3376e18e23693131c3711654"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":24703970,"name":"adyen","full_name":"ishaansingal/adyen","owner":{"login":"ishaansingal","id":3284125,"avatar_url":"https://avatars.githubusercontent.com/u/3284125?v=3","gravatar_id":"","url":"https://api.github.com/users/ishaansingal","html_url":"https://github.com/ishaansingal","followers_url":"https://api.github.com/users/ishaansingal/followers","following_url":"https://api.github.com/users/ishaansingal/following{/other_user}","gists_url":"https://api.github.com/users/ishaansingal/gists{/gist_id}","starred_url":"https://api.github.com/users/ishaansingal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ishaansingal/subscriptions","organizations_url":"https://api.github.com/users/ishaansingal/orgs","repos_url":"https://api.github.com/users/ishaansingal/repos","events_url":"https://api.github.com/users/ishaansingal/events{/privacy}","received_events_url":"https://api.github.com/users/ishaansingal/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ishaansingal/adyen","description":"Package
        to simplify including the Adyen payments services into a Ruby application.","fork":true,"url":"https://api.github.com/repos/ishaansingal/adyen","forks_url":"https://api.github.com/repos/ishaansingal/adyen/forks","keys_url":"https://api.github.com/repos/ishaansingal/adyen/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ishaansingal/adyen/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ishaansingal/adyen/teams","hooks_url":"https://api.github.com/repos/ishaansingal/adyen/hooks","issue_events_url":"https://api.github.com/repos/ishaansingal/adyen/issues/events{/number}","events_url":"https://api.github.com/repos/ishaansingal/adyen/events","assignees_url":"https://api.github.com/repos/ishaansingal/adyen/assignees{/user}","branches_url":"https://api.github.com/repos/ishaansingal/adyen/branches{/branch}","tags_url":"https://api.github.com/repos/ishaansingal/adyen/tags","blobs_url":"https://api.github.com/repos/ishaansingal/adyen/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ishaansingal/adyen/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ishaansingal/adyen/git/refs{/sha}","trees_url":"https://api.github.com/repos/ishaansingal/adyen/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ishaansingal/adyen/statuses/{sha}","languages_url":"https://api.github.com/repos/ishaansingal/adyen/languages","stargazers_url":"https://api.github.com/repos/ishaansingal/adyen/stargazers","contributors_url":"https://api.github.com/repos/ishaansingal/adyen/contributors","subscribers_url":"https://api.github.com/repos/ishaansingal/adyen/subscribers","subscription_url":"https://api.github.com/repos/ishaansingal/adyen/subscription","commits_url":"https://api.github.com/repos/ishaansingal/adyen/commits{/sha}","git_commits_url":"https://api.github.com/repos/ishaansingal/adyen/git/commits{/sha}","comments_url":"https://api.github.com/repos/ishaansingal/adyen/comments{/number}","issue_comment_url":"https://api.github.com/repos/ishaansingal/adyen/issues/comments{/number}","contents_url":"https://api.github.com/repos/ishaansingal/adyen/contents/{+path}","compare_url":"https://api.github.com/repos/ishaansingal/adyen/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ishaansingal/adyen/merges","archive_url":"https://api.github.com/repos/ishaansingal/adyen/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ishaansingal/adyen/downloads","issues_url":"https://api.github.com/repos/ishaansingal/adyen/issues{/number}","pulls_url":"https://api.github.com/repos/ishaansingal/adyen/pulls{/number}","milestones_url":"https://api.github.com/repos/ishaansingal/adyen/milestones{/number}","notifications_url":"https://api.github.com/repos/ishaansingal/adyen/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ishaansingal/adyen/labels{/name}","releases_url":"https://api.github.com/repos/ishaansingal/adyen/releases{/id}","created_at":"2014-10-02T02:53:39Z","updated_at":"2014-10-02T02:54:29Z","pushed_at":"2014-10-02T03:36:02Z","git_url":"git://github.com/ishaansingal/adyen.git","ssh_url":"git@github.com:ishaansingal/adyen.git","clone_url":"https://github.com/ishaansingal/adyen.git","svn_url":"https://github.com/ishaansingal/adyen","homepage":"http://www.adyen.com","size":1082,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":24723916,"name":"dotfiles","full_name":"ishaansingal/dotfiles","owner":{"login":"ishaansingal","id":3284125,"avatar_url":"https://avatars.githubusercontent.com/u/3284125?v=3","gravatar_id":"","url":"https://api.github.com/users/ishaansingal","html_url":"https://github.com/ishaansingal","followers_url":"https://api.github.com/users/ishaansingal/followers","following_url":"https://api.github.com/users/ishaansingal/following{/other_user}","gists_url":"https://api.github.com/users/ishaa[...]
